@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:"Poppins", sans-serif; 
    width: 100%;
}

/** styles the section header**/

header{
    width: 100%;
    height: 80px;
    background-color: rgb(53, 53, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}
.bars{
    display: none;
}
.nav-bar{
    display: flex;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.03s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: rgb(53, 53, 50);
    background-color: #db241b;
}
.nav-bar ul li a.active{
    color: rgb(53, 53, 50);
    background-color: #db241b;
    color: #ffffff;
}

.contentprincp{
    background-image: url(images/imagenfondo-1024x768.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 0 100px;
}
.header-content{
    display: flex;
    width:100%;
    flex-direction: column;    
}
.slider-txtpr{
    display: flex;
    width: 100%;
    margin-top: 15px; 
}
.slider-txtpr h1{
    text-align: center;
    margin: auto;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color:#ffffff;
}
.slider-txt{
    display: flex;
    height: 85px;
    font-size: 48px;
    margin-top: 85px;
}
.slider-txt h2{
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color:#ffffff;
    text-transform: uppercase;
}

/* styles section_container1*/

.section_container1{
    height: auto; 
    background-color:#795f42;
    display: flex;
    align-items: center;
    margin-top: 1px;
    padding: 10px; 
}
.section_container1  .section_content{
    width:auto ;
    height: 600px;
    display: flex;
    background-color:#2e2f34;
    border-radius: 35px;
    margin: 10px 5px;
}
.section_container1 .container-txt{
    margin: 10px 5px;
}
.section_container1 .txt-2{
    margin: 16px 15px;
}
.section_container1 .section_content .container-img{
    margin: auto 15px;
}
.section_container1 .section_content .container-img img{
    border-radius: 10%;
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 7px #ffffff;
}
.section_container1 .section_content .container-txt h2{
    height: 30px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 100px;
    padding: 2px 20px;
    text-align:start;
}
.section_container1 .section_content .container-txt p{    
    color: #ffffff;
    font-size: 18px;
    padding: 2px 5px;
    text-align: justify;
}
.section_container1 .section_content .siguenos{
    display: flex;
    margin:auto;
    margin-top: 20px;
}
.btn-1{
    background-color: #db241b;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 35px;    
}
.btn-1:hover{
    background-color: #795f42;
    border: 2px solid #ffffff;
}
.section_container1 .section_content .siguenos a{
    margin: auto;
}

/*styles section_services*/

.section_services{
    display: flex;
    height: auto; 
    background-color:#795f42;
    padding: 0;
    margin: 0;  
    border-top: 1px solid #ffffff;
}
.section_services .sectionservices{
    display: flex;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 35px;
}
.section_services .title_services{
    position: absolute;
    height: auto;
    margin-left: 400px;
    text-align: center;
}
.title_services h2{
    color: #ffffff;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 20px;
}
.title_services p{
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 20px;
    text-align: center;
}
.section_services .contentservices{
    display: flex;
    justify-content:center;
    align-content: center;
    margin-top:140px ;
    height:auto;
    width: 100%;
}
.contentservices .services_top{
    width:400px ;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#2e2f34;
    border-radius: 35px;
    margin: auto;
}
.contentservices .services_top img{
    margin: 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 7px #ffffff;
}
.contentservices .services_top h2{
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}
.btn-2{
    width: 150px;
    padding: 10px 10px;
    background-color: #db241b;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;   
}
.btn-2:hover{
    background-color: #795f42;
    border: 2px solid #ffffff;
}

/* style info amparo */
.info{
    border-top: 1px solid #ffffff;
    background-color:  #795f42;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.info-img{
    background-color: #db241b;
    height: 600px;
    display: flex;
    margin-left:60px;
    box-shadow: 0px 0px 7px #ffffff;
}
.info-img img{
    width: 400px;
    height: 600px;
}
.info-txt{
    width:641px;
    text-align: justify;
    margin-left: 80px;
}
.info-txt h2{
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 30px;   
} 
.info .btn-3{
    padding: 20px 30px;
    background-color: #db241b;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;   
}
.btn-3:hover{
    background-color: #795f42;
    border: 2px solid #ffffff;
}

/* seccion de horario */

.horario{
    padding: 80px 20px;
    background-color: #555555;
}
.horario-info h2{
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt{
    display: flex;
    justify-content: space-between;

}
.txt{
    color: #ffffff;
}
.txt h4{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
    font-weight: 900;
}
.txt p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}
.maps{
    filter: grayscale(10%) invert(19%) contrast(99%);
}

/* footer */
.footer{
    background-color: #795f42;
    min-height:100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.footer .social-icon .icon-elem{
    list-style: none;
}
.footer .social-icon .icon-elem .icon{
    color: #ffffff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.4s;
}
.icon:hover{
    transform: translateY(-20px);
    transition: 0.2sg;
}

.footer .menu{
    display: flex;
    flex-direction: center;
    align-items: center;
    position: relative;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.footer .menu .menu-elem{
    list-style: none;
}
.footer .menu .menu-elem .menu-icon{
    color: #ffffff;
    margin: 0 8px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    opacity: 0.75;
    transition: 0.3s;
}
.footer .menu .menu-elem .menu-icon:hover{
    opacity:1;
}
.footer .text{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}





@media(max-width:900px){
    .header{
        padding: 0px 30px;

    }
    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0px;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar .active{
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar .active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 20px;
    }
    
    .slider-txtpr{
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .slider-txt{
        margin-bottom:55px;
    }
    .section_container1{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .section_container1 .section_content{
        width: auto;
        height: auto;
    }
    .section_container1 .section_content .section-img img{
        background-color: #ffffff;
    }

    .section_container1 .section_content .container-txt h2{
        margin-bottom: 135px ;
    }

    .section_services {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .section_services .sectionservices{
        display: flex;
        flex-direction: column;
    }
    .section_services .sectionservices .title_services{
        margin: auto;
        margin-bottom: 5px;
        text-align: center;
    }
    .section_services .sectionservices .title_service p{
        margin: auto;
        text-align: justify;  
    }

    .section_services .contentservices{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .section_services .contentservices .services_top{
        margin-bottom: 10px;
    }
    .info{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .info .info-img{
        margin: auto;
        margin-top: 55px;

    }
    
    .info-img img{
        height: 600px;
        width: 500px;

    }
    .info .info-txt{
        margin: auto;
    }

    .info .btn-3{
        margin:auto
}



}